<!-- 
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_GoogleMapPinAddress
 * @author    Webkul Software Private Limited
 * @copyright Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
 -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <googlemappinaddress>
            <gmpa_settings>
                <default_latitude>-25.33333</default_latitude>
                <default_longitude>131.044</default_longitude>
            </gmpa_settings>
        </googlemappinaddress>    
    </default>
</config>
