<div class="amrepbuilder-header">
    <h2 class="amrepbuilder-title" data-bind="i18n: 'Reports'"></h2>

    <!-- ko template: {
        name: $data.templates.button,
        data: {
            classes: 'amrepbuilder-action primary',
            title: 'Add New Report',
            html: $t('Add New Report'),
            events: {
                click: function () {
                    $data.sidebarWrapper.setHref($data.sidebarData.new_action);
                }
            }
        }
    } --><!-- /ko -->
</div>
