.product-reward-points-share a {
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	display: inline-block;
}
.product-reward-points-share a.reward-points-share-twitter {
	background: url("../images/twitter.png") center center no-repeat;
}
