<section class="amrepbuilder-chosen-block">
    <!-- ko template: { name: templates.header, $data: $data } --><!-- /ko-->

    <!-- ko template: { name: templates.howToLink } --><!-- /ko-->

    <section class="amrepbuilder-chosen"
             data-amrepbuilder-js="chosen-block"
             afterRender="initDropZone.bind($data)"
             data-bind="
                 css: {
                    '-overlay': $data.isOverlay()
                 }">
        <!-- ko template: {
            name: templates.button,
            data: {
                states: {
                    '-active': true,
                    '-disabled': $data.elems().length <= 1
                },
                html: $t('Clear all'),
                classes: '-clearall -clear -link',
                events: {
                    click: function() {
                        clearAll();
                    }
                }
            }
        } -->
        <!-- /ko -->
        <!-- ko template: templates.overlay --><!-- /ko -->
        <!-- ko template: templates.columnsList --><!-- /ko -->
    </section>
</section>
