<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Store Credit & Refund for Magento 2
 */-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_customer_save_after">
        <observer name="amManageStoreCredit" instance="Amasty\StoreCredit\Observer\Admin\ManageStoreCredit" />
    </event>
    <event name="adminhtml_sales_order_create_process_data">
        <observer name="amSetRequestedCreditData" instance="Amasty\StoreCredit\Observer\Admin\SetRequestedCreditData" />
    </event>
</config>
