<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Custom Reports Builder for Magento 2
 */-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Amasty\ReportBuilder\Ui\DataProvider\Form\Report\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="related_entities" xsi:type="array">
                    <item name="class" xsi:type="string">Amasty\ReportBuilder\Ui\DataProvider\Form\Report\Modifier\Entities</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
                <item name="relation_scheme" xsi:type="array">
                    <item name="class" xsi:type="string">Amasty\ReportBuilder\Ui\DataProvider\Form\Report\Modifier\Relations</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
                <item name="columns" xsi:type="array">
                    <item name="class" xsi:type="string">Amasty\ReportBuilder\Ui\DataProvider\Form\Report\Modifier\Columns</item>
                    <item name="sortOrder" xsi:type="number">30</item>
                </item>
                <item name="column_options" xsi:type="array">
                    <item name="class" xsi:type="string">Amasty\ReportBuilder\Ui\DataProvider\Form\Report\Modifier\ColumnOptions</item>
                    <item name="sortOrder" xsi:type="number">40</item>
                </item>
                <item name="column_index" xsi:type="array">
                    <item name="class" xsi:type="string">Amasty\ReportBuilder\Ui\DataProvider\Form\Report\Modifier\ColumnIndex</item>
                    <item name="sortOrder" xsi:type="number">50</item>
                </item>
                <item name="boolean_data" xsi:type="array">
                    <item name="class" xsi:type="string">Amasty\ReportBuilder\Ui\DataProvider\Form\Report\Modifier\BooleanData</item>
                    <item name="sortOrder" xsi:type="number">60</item>
                </item>
                <item name="main_entity_tooltip" xsi:type="array">
                    <item name="class" xsi:type="string">Amasty\ReportBuilder\Ui\DataProvider\Form\Report\Modifier\AddTooltipForMainEntity</item>
                    <item name="sortOrder" xsi:type="number">70</item>
                </item>
                <item name="chart_data" xsi:type="array">
                    <item name="class"
                          xsi:type="string">Amasty\ReportBuilder\Ui\DataProvider\Form\Report\Modifier\AddChartData</item>
                    <item name="sortOrder" xsi:type="number">80</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Amasty\ReportBuilder\Ui\DataProvider\Form\Report\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Amasty\ReportBuilder\Ui\DataProvider\Form\Report\Modifier\Pool</argument>
        </arguments>
    </type>

    <type name="Magento\Ui\Api\BookmarkRepositoryInterface">
        <plugin name="Amasty_ReportBuilder::ModifyNamespace"
                type="Amasty\ReportBuilder\Plugin\Ui\Model\ResourceModel\ModifyNamespace"/>
    </type>

    <type name="Magento\Ui\Api\BookmarkManagementInterface">
        <plugin name="Amasty_ReportBuilder::changeNamespace"
                type="Amasty\ReportBuilder\Plugin\Ui\ChangeNamespace"/>
    </type>

    <type name="Amasty\ReportBuilder\Model\Backend\Report\DataCollector">
        <arguments>
            <argument name="collectors" xsi:type="array">
                <item name="general" xsi:type="object">Amasty\ReportBuilder\Model\Backend\Report\DataCollector\General</item>
                <item name="columns" xsi:type="object">Amasty\ReportBuilder\Model\Backend\Report\DataCollector\Columns</item>
                <item name="scheme" xsi:type="object">Amasty\ReportBuilder\Model\Backend\Report\DataCollector\Scheme</item>
            </argument>
        </arguments>
    </type>
    <type name="Amasty\ReportBuilder\Model\Backend\Report\DataCollector\Scheme">
        <arguments>
            <argument name="entityCollectors" xsi:type="array">
                <item name="column" sortOrder="10"
                      xsi:type="object">Amasty\ReportBuilder\Model\Backend\Report\DataCollector\Entity\ColumnEntity
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Amasty\ReportBuilder\Model\Backend\Report\DataCollector\Columns">
        <arguments>
            <argument name="columnDataCollectors" xsi:type="array">
                <item name="filter" sortOrder="10"
                      xsi:type="object">Amasty\ReportBuilder\Model\Backend\Report\DataCollector\Columns\FilterCollector
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Amasty\ReportBuilder\Model\Report\EntitiesDataModifierComposite">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="columns_visibility" xsi:type="object">Amasty\ReportBuilder\Model\Report\EntityDataModifiers\ColumnsVisibilityModifier</item>
                <item name="options" xsi:type="object">Amasty\ReportBuilder\Model\Report\EntityDataModifiers\OptionsDataModifier</item>
                <item name="aggregation_options" xsi:type="object">Amasty\ReportBuilder\Model\Report\EntityDataModifiers\AggregationOptionsDataModifier</item>
            </argument>
        </arguments>
    </type>

    <type name="Amasty\ReportBuilder\Model\View\MenuDataProvider">
        <arguments>
            <argument name="reportActionList" xsi:type="array">
                <item name="view" xsi:type="string">view</item>
                <item name="edit" xsi:type="string">edit</item>
                <item name="delete" xsi:type="array">
                    <item name="redirect" xsi:type="string">view</item>
                </item>
                <item name="duplicate" xsi:type="string">duplicate</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Ui\Model\Export\ConvertToCsv">
        <plugin name="Amasty_ReportBuilder::ConvertToCsv"
                type="Amasty\ReportBuilder\Plugin\Ui\Model\Export\ConvertToCsv\ConvertFromCollection"/>
    </type>

    <type name="Magento\Ui\TemplateEngine\Xhtml\Result">
        <plugin name="Amasty_ReportBuilder::catchException" type="Amasty\ReportBuilder\Plugin\Ui\TemplateEngine\Xhtml\Result\CatchException" />
    </type>

    <type name="Magento\Framework\View\Element\Message\MessageConfigurationsPool">
        <arguments>
            <argument name="configurationsMap" xsi:type="array">
                <item name="addInvalidColumnsMessage" xsi:type="array">
                    <item name="renderer" xsi:type="const">Magento\Framework\View\Element\Message\Renderer\BlockRenderer::CODE</item>
                    <item name="data" xsi:type="array">
                        <item name="template" xsi:type="string">Amasty_ReportBuilder::messages/addInvalidColumnsMessage.phtml</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Amasty\ReportBuilder\Model\Config\Backend\ExcludedEntities">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="scheme_provider" xsi:type="object">Amasty\ReportBuilder\Model\EntityScheme\Provider</item>
            </argument>
        </arguments>
    </type>
</config>
