<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Custom Reports Builder for Magento 2
 */-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amasty_report_builder" translate="label" type="text" sortOrder="031802" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <resource>Amasty_ReportBuilder::config</resource>
            <class>separator-top</class>
            <label>Custom Reports Builder</label>
            <tab>amasty</tab>
            <group id="amasty_information" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Information</label>
                <frontend_model>Amasty\ReportBuilder\Block\Adminhtml\System\Config\Information</frontend_model>
            </group>

            <group id="general" translate="label" type="text" sortOrder="5"
                   showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>

                <field id="excluded_entities" translate="label comment" type="multiselect" sortOrder="10"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Excluded Entities</label>
                    <comment>Selected entities will be unavailable in Report Builder. Disabling unused entities will speed up report edit page load.</comment>
                    <source_model>Amasty\ReportBuilder\Model\Source\ExcludedEntities\Entity</source_model>
                    <backend_model>Amasty\ReportBuilder\Model\Config\Backend\ExcludedEntities</backend_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>

            <group id="stock_data" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Stock Data</label>

                <field id="reindex_stock" translate="button_label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label/>
                    <button_label>Update Stock Data</button_label>
                    <frontend_model>Amasty\ReportBuilder\Block\Adminhtml\System\Config\ReindexStock</frontend_model>
                </field>

                <field id="update" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Update Stock Data Automatically</label>
                    <comment>When set to Yes, the extension will update stock data on a set schedule. Otherwise, extension data should be updated manually using the button or console command: bin/magento ambuilder:stock:update</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>Amasty\ReportBuilder\Model\Config\Backend\Stock\Update</backend_model>
                </field>

                <field id="frequency" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Frequency</label>
                    <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                    <backend_model>Amasty\ReportBuilder\Model\Config\Backend\Stock\CronExpression</backend_model>
                    <depends>
                        <field id="update">1</field>
                    </depends>
                </field>

                <field id="time" translate="label" type="time" sortOrder="22" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Start Time</label>
                    <depends>
                        <field id="update">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
