<!-- ko if: $data.isVisible() -->
<section class="amrepbuilder-wrapper"
         data-bind="
            css: {
                '-overlay': $data.isOverlay()
            }">
        <!-- ko foreach: $data.elems() -->
            <!-- ko ifnot: $data.isDisabled -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->
</section>

<!-- ko scope: "index = operators_popup" -->
    <!-- ko template: $data.getTemplate() --><!-- /ko -->
<!-- /ko -->
<!-- /ko -->
