<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="block-content">
    <ifnot args="getCartParam('summary_count')">
        <button type="button" id="btn-minicart-close" class="action close" data-action="close" data-bind="
                    attr: {
                        title: $t('Close')
                    },
                    click: closeMinicart()
                ">
            <span translate="'Close'"></span>
        </button>
    </ifnot>
    <if args="getCartParam('summary_count')">
        <button type="button" id="btn-minicart-close" class="action close has-item" data-action="close" data-bind="
                    attr: {
                        title: $t('Close')
                    },
                    click: closeMinicart()
                ">
            <span translate="'Close'"></span>
        </button>
    </if>

    <if args="getCartParam('summary_count')">
        <each args="getRegion('extraInfo')" render=""></each>
    </if>

    <if args="getCartParam('summary_count')">
        <strong class="subtitle" translate="'Recently added item(s)'" ></strong>
        <div data-action="scroll" class="minicart-items-wrapper">
            <ol id="mini-cart" class="minicart-items" data-bind="foreach: { data: getCartItems(), as: 'item' }">
                <each args="$parent.getRegion($parent.getItemRenderer(item.product_type))" render="{name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}}"></each>
            </ol>
        </div>
    </if>

    <ifnot args="getCartParam('summary_count')">
        <strong class="subtitle empty" translate="'No product in the cart.'"></strong>
        <if args="getCartParam('cart_empty_message')">
            <p class="minicart empty text" text="getCartParam('cart_empty_message')"></p>
            <div class="actions">
                <div class="secondary">
                    <a class="action viewcart" data-bind="attr: {href: shoppingCartUrl}">
                        <span translate="'View Cart'"></span>
                    </a>
                </div>
            </div>
        </if>
    </ifnot>

    <if args="getCartParam('summary_count')">

        <each args="getRegion('subtotalContainer')" render=""></each>

        <div class="actions">
            <div class="primary" if="getCartParam('summary_count')">
                <a class="action viewcart" data-bind="attr: {href: shoppingCartUrl}">
                    <span translate="'View Cart'"></span>
                </a>
            </div>
            <div class="secondary" if="getCartParam('possible_onepage_checkout')">
                <button id="top-cart-btn-checkout" type="button" class="action primary checkout" data-action="close" data-bind="
                            attr: {
                                title: $t('Proceed to Checkout')
                            },
                            click: closeMinicart()
                        " translate="'Check out'"></button>
                <div data-bind="html: getCartParamUnsanitizedHtml('extra_actions')"></div>
            </div>
        </div>
    </if>

    <div id="minicart-widgets" class="minicart-widgets" if="regionHasElements('promotion')">
        <each args="getRegion('promotion')" render="" ></each>
    </div>
</div>
<each args="getRegion('sign-in-popup')" render=""></each>