<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<carriers>
			<liltshipping>
				<model>Galaxyweblinks\Liltshipping\Model\Carrier\Liltshipping</model>
				<active>0</active>
				<title>Lilt shipping</title>
				<name>Liltshipping</name>
				<price>0.00</price>
				<specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
				<sallowspecific>0</sallowspecific>
			</liltshipping>
		</carriers>
	</default>
</config>
