.admin__menu .level-0.item-core > a:before {
  content: url('../images/cd.svg');
	height: 27px;
	width: 61px;
	margin: 0 auto;
}
.config-nav-block.code-config-tab strong::before {
    background: url(../images/cd.svg) no-repeat;
    width: 53px;
    height: 20px;
    content: '';
    display: inline-block;
    margin-right: 0px;
    vertical-align: text-bottom;
}
.config-nav-block.code-config-tab strong {
    font-size: 12px;
}