<?xml version="1.0" encoding="UTF-8"  ?>
<!--
/**
 * Magedelight
 * Copyright (C) 2019 Magedelight <info@magedelight.com>
 *
 * @category Magedelight
 * @package Magedelight_SMSProfile
 * @copyright Copyright (c) 2019 Mage Delight (http://www.magedelight.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Magedelight <info@magedelight.com>
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
<!--     <event name="controller_action_predispatch_customer_account_createpost">
       <observer name="magedelight_smsprofile_customer_save" instance="Magedelight\SMSProfile\Observer\CustomerSave" />
    </event> -->
    <event name="customer_save_after_data_object">
       <observer name="magedelight_smsprofile_customer_save" instance="Magedelight\SMSProfile\Observer\CustomerSaveAfter" />
    </event>

    <event name="controller_action_predispatch">
      <observer name="magedelight_smsprofile_controller_action_predispatch" instance="Magedelight\SMSProfile\Observer\ControllerActionPredispatch" shared="false" />
  	</event>
</config>
